<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @term.item %>
</p>

<p>
  <b>Acronym:</b>
  <%= @term.acronym %>
</p>

<p>
  <b>Iit subject:</b>
  <%= @term.iit_subject %>
</p>

<p>
  <b>Notes:</b>
  <%= @term.notes %>
</p>


<%= link_to 'Edit', edit_term_path(@term) %> |
<%= link_to 'Back', terms_path %>
