<% resrceStr = "#{@resource.title}" #string interpolation of title name %>
<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table id="resource-form" class="table">
  <tr>
    <td><%= f.label :title %></td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <td><%= f.label :alt_titles %></td>
    <td><%= f.text_field :alt_titles %></td>
  </tr>
  <tr>
    <td><%= f.label :owner %></td>
    <td><%= f.text_field :owner %></td>
  </tr>
  <tr>
    <td><%= f.label :description %></td>
    <td><%= f.text_area :description %></td>
  </tr>
  <tr>
    <td><%= f.label :restricted %></td>
    <td><%= f.check_box :restricted %></td>
  </tr>
  <tr>
    <td><%= f.label :active %></td>
    <td><%= f.check_box :active %></td>
  </tr>
  <tr>
    <td><%= f.label :access_url %></td>
    <td><%= f.text_field :access_url %></td>
  </tr>
  <tr>
    <td><%= f.label :popular %></td>
    <td><%= f.check_box :popular %></td>
  </tr>
  <tr>
    <td><%= f.label :notes %></td>
    <td><%= f.text_area :notes %></td>
  </tr>
</table>


<ul class="unstyled">
  <h2>IIT Subject Associations:</h2>
  <% @iit_terms.each do |term| %>
    <li>
    <%= check_box_tag "resource[term_ids][]", term.id,
     @resource.terms.include?(term) %>
        <%= term.acronym.upcase %>
        <%= term.item.titlecase %>
  <% end %>
    </li>
</ul>

<ul class="unstyled">
  <h2>Other Associations:</h2>
  <% @non_iit_terms.each do |term| %>
    <li>
    <%= check_box_tag "resource[term_ids][]", term.id, #this sets the box as pre-checked if true in DB
     @resource.terms.include?(term) %>
      <% if term.iit_subject == false%>
        <%= term.acronym.upcase %>
        <%= term.item.titlecase %>
      <% end %>
  <% end %>
    </li>
</ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
