<% resrceStr = "#{@resource.title}" #string interpolation of title name %>
<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :alt_titles %><br />
    <%= f.text_field :alt_titles %>
  </div>
  <div class="field">
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :restricted %><br />
    <%= f.check_box :restricted %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :access_url %><br />
    <%= f.text_field :access_url %>
  </div>
  <div class="field">
    <%= f.label :popular %><br />
    <%= f.check_box :popular %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>

<ul>
  <h2>IIT Subject Associations:</h2>
  <% @iit_terms.each do |term| %>
    <li>
    <%= check_box_tag "resource[term_ids][]", term.id,
     @resource.terms.include?(term) %>
        <%= term.acronym.upcase %>
        <%= term.item.titlecase %>
  <% end %>
    </li>
</ul>

<ul>
  <h2>Other Associations:</h2>
  <% @non_iit_terms.each do |term| %>
    <li>
    <%= check_box_tag "resource[term_ids][]", term.id, #this sets the box as pre-checked if true in DB
     @resource.terms.include?(term) %>
      <% if term.iit_subject == false%>
        <%= term.acronym.upcase %>
        <%= term.item.titlecase %>
      <% end %>
  <% end %>
    </li>
</ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
