<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Access</th>
    <th>More</th>
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <% if resource.restricted == true
          urlWithPrepend = Resource.url_prefix + resource.access_url
        else
          urlWithPrepend = resource.access_url
        end
    %>
    <td><a class="btn" href="<%= urlWithPrepend %>"><%= resource.title %></a></td>
    <td><%= myTruncate(resource.description) %></td>
    <td>Go</td>
    <td><%= link_to 'Show', resource %></td>
  <% if admin? %>
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
  </tr>
<% end %>
</table>


<% if admin? %>
  <%= link_to 'New Resource', new_resource_path %>
<% end %>