<h1>Listing resources</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Owner</th>
    <th>Description</th>
    <th>Restricted</th>
    <th>Active</th>
    <th>Popular</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <% if resource.restricted == true
          urlWithPrepend = Resource.url_prefix + resource.access_url
        else
          urlWithPrepend = resource.access_url
        end
    %>
    <td><a class="btn" href="<%= urlWithPrepend %>"><%= resource.title %></a></td>
    <td><%= resource.owner %></td>
    <td><%= myTruncate(resource.description) %></td>
    <td><%= resource.restricted %></td>
    <td><%= resource.active %></td>
    <td><%= resource.popular %></td>
    <td><%= resource.notes %></td>
    <td><%= link_to 'Show', resource %></td>
  <div class="actions">
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </div>
  </tr>
<% end %>
</table>

<br />
<div class="actions">
  <%= link_to 'New Resource', new_resource_path %>
</div>