<h1>Listing databases</h1>

<table>
  <tr>
    <th>Title</th>
    <th>String</th>
    <th>Alt titles</th>
    <th>Description</th>
    <th>Restricted</th>
    <th>Active</th>
    <th>Access url</th>
    <th>Popular</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @databases.each do |database| %>
  <tr>
    <td><%= database.title %></td>
    <td><%= database.string %></td>
    <td><%= database.alt_titles %></td>
    <td><%= database.description %></td>
    <td><%= database.restricted %></td>
    <td><%= database.active %></td>
    <td><%= database.access_url %></td>
    <td><%= database.popular %></td>
    <td><%= database.notes %></td>
    <td><%= link_to 'Show', database %></td>
    <td><%= link_to 'Edit', edit_database_path(database) %></td>
    <td><%= link_to 'Destroy', database, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Database', new_database_path %>
