<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @database.title %>
</p>

<p>
  <b>String:</b>
  <%= @database.string %>
</p>

<p>
  <b>Alt titles:</b>
  <%= @database.alt_titles %>
</p>

<p>
  <b>Description:</b>
  <%= @database.description %>
</p>

<p>
  <b>Restricted:</b>
  <%= @database.restricted %>
</p>

<p>
  <b>Active:</b>
  <%= @database.active %>
</p>

<p>
  <b>Access url:</b>
  <%= @database.access_url %>
</p>

<p>
  <b>Popular:</b>
  <%= @database.popular %>
</p>

<p>
  <b>Notes:</b>
  <%= @database.notes %>
</p>


<%= link_to 'Edit', edit_database_path(@database) %> |
<%= link_to 'Back', databases_path %>
