<!DOCTYPE html>
<html>
<head>
  <title>IIT Database Search-subj1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container well well-large">
    <header class="well well-large">
      <h1>IIT Libraries</h1>
      <h2>Database Finder</h2>
      <p>Doing research? Our Database Finder will help you lookup resources by keyword or subject major.</p>
    </header>

    <div id="navbar-search">
       <p>List databases by subject major </p>
        <%= form_tag resources_path, :method => 'get' do %>
          <%= select_tag "subject_search", options_from_collection_for_select(@terms, "id", "item"), {:include_blank => true} %>
          <%= submit_tag "Go", :id => "subject-btn", :name => nil, :class => 'btn' %>
      <% end %>
       <p>or</p>
      <%= form_tag resources_path, :method => 'get' do %>
           <%= hidden_field_tag :all_active, params[:all_active] %>
          <%= submit_tag "View All Databases", :id => "view-all-btn", :name => nil, :class => 'btn' %>
      <% end %>

      <div class="admin">
        <%
          if admin?
            status_msg = "logged in"
          else
            status_msg = "guest"
          end
        %>
        <p>Status: <%= status_msg %></p>
        <%= link_to 'Login', login_path %> |
        <%= link_to 'Logout', logout_path %>
        <% if admin? %>
          | <%= link_to 'New Resource', new_resource_path %>
        <% end %>
      </div>
     </div>

      <div id="main-block">

        <%= render "resources/search" %>

        <%= yield %>

      </div>
    <footer class="well well-large">
      Last updated by: <a href="http://www.christinemcclure.com">Christine McClure</a>
    </footer>
  </div> <!-- end main container -->
  

</body>
</html>
